@model TestREA.Models.ReaUtilisateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReaUtilisateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCommercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCommercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelExterne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelExterne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCommercial2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCommercial2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPartenaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestApplication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCegid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCegid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurTest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatutNavigation.Libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGroupeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGroupeNavigation.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGroupeNavigation.ReaDroitGroupes)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IdGroupeNavigation != null && Model.IdGroupeNavigation.ReaDroitGroupes != null && Model.IdGroupeNavigation.ReaDroitGroupes.Any())
            {
                <ul>
                    @foreach (var droitGroupe in Model.IdGroupeNavigation.ReaDroitGroupes)
                    {
                        <li>Application : @droitGroupe.IdApplicationNavigation.Application</li>
                        <li>Autorise : @droitGroupe.Autorise</li>
                    }
                </ul>
            }
            else
            {
                <p>Aucun droitGroupes attribué</p>
            }
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaDroitProfils)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ReaDroitProfils != null && Model.ReaDroitProfils.Any())
            {
                <ul>
                    @foreach (var droitProfil in Model.ReaDroitProfils)
                    {
                        <li>@droitProfil.IdProfilNavigation.Libelle</li>
                        @foreach (var champ in droitProfil.IdProfilNavigation.ReaChampProfils)
                        {
                            @if (champ.Autorise)
                            {
                                    @* <li>@champ.ReaChamp.Description</li> *@
                                    @foreach (var champApplication in champ.ReaChamp.ReaChampApplications)
                                    {
                                        <li>Champ : @champApplication.Libelle</li>
                                    }
                                    @* <li>@champ.IdChamp</li> *@
                                    <li>@champ.Autorise</li>
                            }
                        }
                    }
                    </ul>
                }
            else
                {
                    <p>Aucun droitProfils attribué</p>
                }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaDroitRoles)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ReaDroitRoles != null && Model.ReaDroitRoles.Any())
                {
                    <ul>
                        @foreach (var droitRole in Model.ReaDroitRoles)
                            {
                                <li>@droitRole.IdRoleNavigation.Libelle</li>
                            }
                    </ul>
                }
            else
                {
                    <p>Aucun droitRôles attribué</p>
                }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaDroitUtilisateurs)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ReaDroitUtilisateurs != null && Model.ReaDroitUtilisateurs.Any())
                {
                    <ul>
                        @foreach (var droitUtilisateur in Model.ReaDroitUtilisateurs)
                            {
                        <li>Application : @droitUtilisateur.IdApplicationNavigation.Application</li>
                            }
                    </ul>
                }
            else
                {
                    <p>Aucune application attribuée</p>
                }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReaVerrous)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.ReaVerrous != null && Model.ReaVerrous.Any())
                {
                    <ul>
                        @foreach (var verrou in Model.ReaVerrous)
                            {
                        <li>Application : @verrou.IdApplicationNavigation.Application</li>
                                    <li>Nombre de tentatives : @verrou.NbTentative</li>
                                    <li>Date du verrou : @verrou.DateVerrou</li>
                            }
                    </ul>
                }
            else
                {
                    <p>Aucun verrou attribué</p>
                }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSiteNavigation.NomSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilisateurRhNavigation)
        </dt>
        @if (Model.IdUtilisateurRhNavigation != null)
        {
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUtilisateurRhNavigation.NomUtilisateurRh)
        </dd>
        }
        else
        {
        <dd class="col-sm-10">
            Pas de fiche créée
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReaAcces)
        </dt>
        @if (Model.ReaAcces != null && Model.ReaAcces.Any())
        {
            
            <dd class="col-sm-10">
                <ul>
                    @foreach (var acces in Model.ReaAcces)
                    {
                        if (acces.DateConnexion >= DateTime.Now.AddMonths(-1))
                        {
                            <li>Application : @acces.IdApplicationNavigation.Application</li>
                            <li>Date de connection : @acces.DateConnexion</li>
                        }
                    }
                </ul>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                Aucun accès recensé
            </dd>
        }
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
