@model TestREA.Models.ReaUtilisateur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReaUtilisateur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrenomUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrenomUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCommercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCommercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotPasse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotPasse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUtilisateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUtilisateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelExterne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelExterne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCommercial2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCommercial2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPartenaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPartenaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestApplication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestApplication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeCegid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeCegid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UtilisateurTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UtilisateurTest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStatut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStatut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGroupeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGroupeNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSiteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSiteNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUtilisateurRhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUtilisateurRhNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
