@model IEnumerable<TestREA.Models.ReaChamp>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaChampVerrou.IdApplicationNavigation.Application)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReaChampApplications)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                @if (item.ReaChampVerrou != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ReaChampVerrou.IdApplicationNavigation.Application)
                    </td>
                }
                else
                {
                    <td>
                        Pas d'idVerrou sur ce champ
                    </td>
                }
                
                <td>
                    @foreach (var champ in item.ReaChampApplications)
                    {
                        <li>@champ.Libelle</li>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
