@model IEnumerable<TestREA.Models.ReaVerrou>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilisateurNavigation.NomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUtilisateurNavigation.PrenomUtilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbTentative)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateVerrou)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdApplicationNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.NomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtilisateurNavigation.PrenomUtilisateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbTentative)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateVerrou)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdApplicationNavigation.Application)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
